.footer {
    background-color: #8C8C8C;
    padding: 20px;
    text-align: center;
    position:absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .link {
    display: inline-block;
    margin: 0 10px;
  }
  
  .icon {
    cursor: pointer;
    color:#4A235A;
  }