.footer {
    background-color: #9eaab1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .link {
    display: inline-block;
    margin: 0 10px;
  }
  
  .icon {
    cursor: pointer;
  }

  @media screen and (max-width: 1040px) {
    .link {
        display: inline-block;
        margin: 0 10px;
    }
  }
  